/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font: 'Inter-Variable';
  --main-font-weight:400;
  --header-font-weight:700;
  --accent-font: " PressStart2P";
  --bg-color: #ffffff;
  --bg-gradient: 
    repeating-linear-gradient(to right, #d3d3d3, rgb(244 152 173 / 0) 2px),
    repeating-linear-gradient(#d3d3d3, rgb(244 152 173 / 0) 2px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --text-color:#000000;
  --accent-color: opacity: 0.6;
  --logo-color:#ffffff;
  --extra-color:#ff0070;
  --button-color:#ff0070;
  --hover-effect:rgba(255, 0, 112, 0.4);
  --favicon-color:#000000;
  --icon-fill-color: black;
  --invert-text:#ffffff;
  --core-color:#ffffff;
  --contour-color:#000000;
  --sparks-color:red;
}


:root.theme-dark {
  --main-font: 'Inter-Variable';
  --main-font-weight:465;
  --header-font-weight:785;
  --accent-font: 'PressStart2P';
  --bg-color: #000000;
  --bg-gradient: 
    repeating-linear-gradient(to right, #000, rgb(244 152 173 / 0) 2px),
    repeating-linear-gradient(#000, rgb(244 152 173 / 0) 2px),
    linear-gradient(#007f0c, #004306);
  --text-color:#00CC14;
  --accent-color: opacity: 0.6;
  --logo-color:#000000;
  --extra-color:#ff0070;
  --button-color:#ff0070;
  --hover-effect:rgba(255, 0, 112, 0.4);
  --favicon-color:#00CC14;
  --invert-text:#00CC14;
  --icon-fill-color: #00CC14;
  --core-color:#000000;
  --contour-color:#00CC14;
  --sparks-color:red;
}

@media (prefers-color-scheme: dark) {
:root{
  --main-font: 'Inter-Variable';
  --main-font-weight:465;
  --header-font-weight:785;
  --accent-font: 'PressStart2P';
  --bg-color: #000000;
  --bg-gradient: 
    repeating-linear-gradient(to right, #000, rgb(244 152 173 / 0) 2px),
    repeating-linear-gradient(#000, rgb(244 152 173 / 0) 2px),
    linear-gradient(#007f0c, #004306);
  --text-color:#00CC14;
  --accent-color: opacity: 0.6;
  --logo-color:#000000;
  --extra-color:#ff0070;
  --button-color:#ff0070;
  --hover-effect:rgba(255, 0, 112, 0.4);
  --favicon-color:#00CC14;
  --invert-text:#00CC14;
  --icon-fill-color: #00CC14;
  --core-color:#000000;
  --contour-color:#00CC14;
  --sparks-color:red;
}  
}